:root {
  --background-color: #f8ffa8;
  --Emerald-green: rgb(80, 200, 120);
  --Crystal-emerald-green: rgba(80, 200, 120, 0.6);
  --Blood-red: rgb(136, 8, 8);
  --Crystal-blood-red: rgba(136, 8, 8, 0.6);
}

/* Initial Configuration */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Begin Styling */
/* Container holding everything */
.container {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

/* ------------Board area----------- */
.board-area {
  display: flex;
  justify-content: space-evenly;
}

.board-area .score-board {
  min-width: 250px;
  background-color: white;
  border: 2.5px solid black;
  border-radius: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
  justify-items: stretch;
}

.board-area .score-board .computer,
.board-area .score-board .user {
  align-self: center;
}

.board-area .score-board .user-score,
.board-area .score-board .computer-score {
  min-height: 100px;
  font-size: 50px;
  align-self: center;
}

/* -----------------Info Part------------ */
.info {
  min-height: 6rem;
  text-align: center;
  line-height: 6rem;
}
/* ------------Play Ground------------- */
.playground {
  display: flex;
  justify-content: center;
}

.playground .text {
  padding: 1rem;
  text-align: center;
}

.playground .choices div {
  margin: 2rem;
}

.playground .choices div i {
  font-size: 3rem;
}

/* ------------User Selection------------- */
.playground .user-selection {
  flex: 1 1 auto;
}

.playground .user-selection .choices > div {
  width: fit-content;
}

/* -----------Computer Selection---------- */
.playground .computer-selection {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

.playground .computer-selection .choices {
  align-self: flex-end;
}

/* ---------------Choices---------------------- */
.choices div {
  transition: transform 0.5s ease-in-out;
}

.user-selection .choices div:hover {
  transform: scale(2);
}

.computer-selection .choices div:hover {
  transform: scale(2);
}

.user-choice {
  transform: translateX(10rem);
}

.computer-choice {
  transform: translateX(-10rem);
}

/* ------------------Win Page------------------ */
.win-page {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--Crystal-emerald-green);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.win-page .content {
  padding: 2rem;
  background-color: var(--Emerald-green);
  border-radius: 0.25rem;
}

.win-page .content .text {
  text-align: center;
}

.win-page .button {
  text-align: center;
  margin-top: 2rem;
}

/* External CSS for button */
.button-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* ------------Loose Page----------------------- */

.lose-page {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--Crystal-blood-red);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lose-page .content {
  padding: 2rem;
  background-color: var(--Blood-red);
  border-radius: 0.25rem;
}

.lose-page .content .text {
  text-align: center;
}

.lose-page .button {
  text-align: center;
  margin-top: 2rem;
}

/* ----------Hide win and lose pages--------- */
.hidden {
  visibility: hidden;
}
